/* RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", system-ui, sans-serif;
}

/* BACKGROUND */
body {
  min-height: 100vh;
  background: url(bg2.jpg);
  display: flex;
  align-items: center;
  justify-content: center;
  background-size: cover;        
  background-position: center;   
  background-repeat: no-repeat;  
  background-attachment: fixed;  
}

/* APP WRAPPER */
.app-wrapper {
  width: 100%;
  padding: 20px;
}

/* QUIZ CARD */
.quiz-card {
  max-width: 520px;
  margin: auto;
  background: #ffffff;
  border-radius: 16px;
  padding: 30px;
  box-shadow: 0 20px 40px rgba(0, 0, 0, 0.15);
}

/* TITLES */
.app-title {
  text-align: center;
  color: #09a5da;
  font-size: 32px;
  margin-bottom: 4px;
  font-weight: bolder;
}

.subtitle {
  text-align: center;
  color: #6b7280;
  margin-bottom: 20px;
}

/* INPUTS */
.input {
  width: 100%;
  padding: 12px 14px;
  border-radius: 10px;
  border: 1px solid #e5e7eb;
  margin-bottom: 14px;
  font-size: 15px;
}

.input:focus {
  outline: none;
  border-color: #6366f1;
  box-shadow: 0 0 0 2px rgba(99, 102, 241, 0.2);
}

/* BUTTONS */
.btn {
  width: 100%;
  padding: 12px;
  border-radius: 12px;
  font-size: 16px;
  font-weight: 600;
  border: none;
  cursor: pointer;
  transition: all 0.25s ease;
}

.btn.start {
  background: #405a71;
  color: white;
  margin-bottom: 14px;
}


.btn.submit {
  background: #e4a237;
  color: white;
}

.btn:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

/* TIMER */
.timer {
  text-align: center;
  font-weight: 600;
  color: #dc2626;
  margin-bottom: 10px;
}

/* PROGRESS */
.progress {
  height: 10px;
  background: #e5e7eb;
  border-radius: 999px;
  overflow: hidden;
  margin-bottom: 20px;
}

#progressBar {
  height: 100%;
  width: 0%;
  background: linear-gradient(90deg, #6366f1, #22c55e);
  transition: width 0.3s ease;
}

/* QUESTION */
.question {
  text-align: center;
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 16px;
  color: #111827;
}

/* FEEDBACK */
#feedback {
  text-align: center;
  margin-top: 10px;
  font-weight: 600;
}

/* RESULT */
.result {
  text-align: center;
  margin-top: 20px;
}

.result h2 {
  margin-bottom: 8px;
}
